<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Asistente virtual para seguros de Vida</h1>
    <p class="lead">Hola! Mi nombre es Javier, soy el asistente virtual que te ayudará a encontrar el seguros de vida más barato segun tu estilo de vida. Cuando estés preparado por favor pulsa el boton para iniciar la prueba.</p>
    <hr class="my-5">
    <center>
    <a class="btn btn-primary btn-lg" href="/src/audio_prueba.py" role="button">Comenzar la prueba</a>
    </center>
  </div>

{% endblock%}


