  
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <center>
  <h1 class="display-4">Proyecto final de David Lazaro</h1>
  <h2>Asistente Virtual para seguros de vida</h2> 
  </center>
  <p class="lead">En esta web podrás encontrar un asistente virtual con el que, a traves de una conversacion de menos de dos minutos, obtengas el precio en cinco aseguradoras diferentes.</p>
  <hr class="my-4">
  <p>Debido a protección de datos los precios que saldrán en la aplicación son ficticios. Los precios estan establecidos en funcion del mercado en Octubre de 2020.</p>
  <center>
  <a class="btn btn-primary btn-lg" href="/asistentevirtual" role="button">Empezar asistente virtual</a>
  <a class="btn btn-primary btn-lg" href="/src/audio_prueba.py" role="button">Explicación del proyecto</a>
  <a class="btn btn-primary btn-lg" href="https://github.com/Davidlazarog/Virtual_assistant_life_insurance" role="button" target="_blank">Codigo del proyecto</a> 
  </center>
</div>


{% endblock%}